In [13]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("TRAIN_RELEASE_3SEP2025/train_subtask1.csv")

In [7]:
df.head()

,user_id,text_id,text,timestamp,collection_phase,is_words,valence,arousal
0,3,251,I ' ve been feeling just fine . Nice and relax...,2021-06-08 12:26:16,1,False,1.0,1.0
1,3,252,I ' ve been feeling pretty good . This is my l...,2021-06-09 13:41:40,1,False,0.0,1.0
2,3,253,Still feeling sick today and sneezing alot wit...,2021-06-11 15:13:48,1,False,1.0,1.0
3,3,254,I ' m still feeling kinda sickly but I powered...,2021-06-12 12:20:03,1,False,1.0,1.0
4,3,255,I ' m feeling so much better today ! Seems lik...,2021-06-13 14:54:41,1,False,2.0,1.0

In [16]:
texts_per_author = (
    df.groupby("user_id")
      .size()
      .reset_index(name="num_texts")
)

texts_per_author.head()

   user_id  num_texts
0        1          5
1        2        177
2        3          5
3        4          8
4        6         21

In [20]:
texts_per_author["num_texts"].max(), texts_per_author["num_texts"].min()

(np.int64(206), np.int64(2))