In [13]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("TRAIN_RELEASE_3SEP2025/train_subtask1.csv")

In [ ]:
df[df["is_words"] == 0]["text"][0]

"I ' ve been feeling just fine . Nice and relaxed .. Im on my days off from work spending time with my daughters at home . I ' m not sure what else to say . I ' m in a good mood ....................................................."

In [29]:
df[df["is_words"] == 1]

,user_id,text_id,text,timestamp,collection_phase,is_words,valence,arousal
7,10,407,"Tired , Exhausted , Calm , Content , Happy",2021-06-09 12:11:03,1,True,-1.0,0.0
8,10,408,"Content , Calm , Sleepy , Lazy , Relaxed",2021-06-10 17:08:20,1,True,2.0,0.0
9,10,409,"Content , Calm , Relaxed , Happy",2021-06-11 12:03:33,1,True,2.0,0.0
10,10,410,"Calm , Content , Happy , Relaxed",2021-06-11 17:18:21,1,True,2.0,1.0
59,17,1037,"Sad , Depressed , Tired , Spent , Dragging",2022-04-28 20:29:00,3,True,-1.0,1.0
...,...,...,...,...,...,...,...,...
2688,87,380,"Sleepy , Hungry , Happy , Relaxed , Bored",2024-11-15 22:37:49,7,True,1.0,1.0
2691,72,4973,"Tired , Stress , Concerned , Happy , Motivated",2024-09-19 12:04:03,7,True,0.0,1.0
2692,72,4974,"Tired , Concerned , Focused , Determined , Lac...",2024-09-24 17:22:36,7,True,-1.0,0.0
2693,72,4975,"Happy , Relaxed , Focused , Full , Inquisitive",2024-09-25 12:08:34,7,True,1.0,2.0
2695,166,4227,"Happy , Grateful , Expressive , accomplished ,...",2024-09-19 12:27:05,7,True,1.0,2.0

In [16]:
texts_per_author = (
    df.groupby("user_id")
      .size()
      .reset_index(name="num_texts")
)

texts_per_author.head()

   user_id  num_texts
0        1          5
1        2        177
2        3          5
3        4          8
4        6         21

In [20]:
texts_per_author["num_texts"].max(), texts_per_author["num_texts"].min()

(np.int64(206), np.int64(2))